body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 30%;
    margin-left: 35%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: cornflowerblue;
    border-radius: 20px;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    background-color: #1c6f99;
}
#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 60px;
    background: cadetblue;
}

.book-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.book-item img {
    max-width: 100%;
    border-radius: 5px;
}

.hidden {
    display: none;
}
